html
    head
        link(rel="stylesheet", href="/style/newClient.css")
    body
        div(class="container")
            form(action="/newClient", method="post")
                input(placeholder="First Name" type="text" name="firstName")
                input(placeholder="Last Name" type="text" name="lastName")
                input(placeholder="Email" type="text" name="email")
                input(placeholder="Address" type="text" name="address")
                input(placeholder="Age" type="number" name="age")
                input(placeholder="Submit" type="submit")
                a(href="/") Cancel